.product-header {
    border-radius: $section-header-border-radius;
    margin-left: 0;
    margin-right: 0;
    .heading{
        color: $color-darker-gray2;
        padding: 0.75rem 0;
    }
    .product-sort {
        margin: 0.5rem 0;
    }
}