$root-font-size: 16px;

$h2-size: 2rem;
$h2-font-weight: 300;

$h3-size: 1.75rem;
$h3-font-weight: 400;

$h4-size: 1.25rem;
$h4-font-weight: 500;

$h5-size: 1rem;
$h5-font-weight: 500;

$color-darker-gray: #888686;
$color-darker-gray2: #656464;
$color-dark-gray: #333;
$color-mid-gray: #ADAAAA;
$color-light-gray: #ccc;
$color-lighter-gray: #aaa;
$color-white: #fff;


$card-image-min-height: 13rem;
$card-body-height: 12rem;
$card-title-height: 5rem;
$card-retail-price-height: 1.2rem;
$card-title-standard: 1rem;
$card-title-medium: 0.8rem;
$card-title-small: 0.7rem;

$section-header-border-radius: 0.25rem;

