html {
  font-size: $root-font-size;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin: 16px 0;
}

h2 {
  font-size: $h2-size;
  font-weight: $h2-font-weight;
}

h3 {
  font-size: $h3-size;
  font-weight: $h3-font-weight;
}

h4 {
  font-size: $h4-size;
  font-weight: $h4-font-weight;
}

h5 {
  font-size: $h5-size;
  font-weight: $h5-font-weight;
}